@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

breakfast_menu {
    text-align: center;
    padding: 2em;
    width: 80em;
    margin: 0 auto;
}
company {
    font-size: 8em;
    padding: 0em;
    font-family: Lora;
    color:rgb(0, 171, 180);
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}

title {
    font-size: 3em;
    font-family: 'Lora', serif;
}

time {
    padding: 1.5em;
    font-family: 'Lora', serif;
}

food {
    display: block;
    margin: 2em;
    font-family: 'Lora', serif;
    font-size: 1em;
}
food > name {
    font-family: 'Lora', serif;
    font-size: 2em;
    color: rgb(3, 131, 138);
    font-weight: bold;
}
food > price {
    color: rgb(139, 139, 139);
    font-size: 1.5em;
}
price::after {
    content: " $";
    font-size: 1em;
}
food > calories {
    color: rgb(0, 177, 0);
    font-family: 'Lora', serif;
}
calories::before {
content: "Calories: ";
}

footer {
    font-family: 'Lora', serif;
    font-size: 1.2em;
}

* {
    display: block;
}