@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



table, th, td {
    border:solid 0px;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    padding:10px;
    font-family: Open Sans;
    text-align: left;
}

table {
    box-shadow: 0 0 20px #ccc;
    width: 50%;
    border-radius: 15px;
    overflow:hidden;
}

.columna1 {
    background-color: rgb(152, 231, 255);
    font-weight: bold;
    
}

table tr:nth-child(even) {
    background-color: rgb(182, 182, 182);
}

.autors {
    background-color: rgb(72, 149, 226);
}