@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h2 {
    text-align: center;
}

.table1 {
    width: 50%;
    border-collapse: collapse;
    border-spacing: 10px;
    font-family: Open Sans;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-family: Open Sans;
    box-shadow: 0 0 20px #ccc;
}

.td11 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color:darkturquoise;
}

.thead1 {
    color: white;
    font-weight: bold;
    
}

.tr1:nth-child(even) {
    background-color: rgb(223, 223, 223) ;
}


.table1{
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.td1 {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.td1:nth-child(1) {
    background-color: rgb(151, 151, 151);
    font-weight: bold;
}


.table2 {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 10px;
    font-family: Open Sans;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    font-family: Open Sans;
    box-shadow: 0 0 20px #ccc;
}

td {
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

.table2{
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}