@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Noto+Serif+JP:wght@300&family=PT+Serif:ital@1&family=Playfair+Display:ital@1&family=Young+Serif&family=ZCOOL+XiaoWei&display=swap');

h1 {
    margin-top: 30px;
    text-align: center;
    color:rgb(49, 84, 87);
    font-size: 100px;
}

h2 {
    display: inline;
    margin: 100px; 
    text-align: center;
    color:rgb(87, 131, 133);
    font-size: 50px;
}

h2:hover {
    text-decoration: underline;
    color:rgb(255, 206, 46)
}

.paisos {
    margin-top: 20px;
    text-align: center;
    transform: translateY(-50%);
}
.cantants {
    margin: 50px;
    grid-gap: 30px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 40px;

}

.columnes {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.columnes:hover img {
    opacity: 0.25;
}

.columnes:hover {
    transform: scale(1.1);
    background-color:rgb(29, 163, 181);
    display: inline-block; 
}

.columnes img {
    width:100%;
    height:100%;
    transition: transform 3s;
}

.columnes .nom {
    background-color: black;
    position:absolute;
    width:100%;
    padding: 3% 0 3% 0;
    font-size: 100%;
    top: 10%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    opacity: 0;
    transition: opacity 0s;
}

.columnes .descrip {
    position:absolute;
    top: 55%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity:0;
    font-weight: bold;
    font-size: 100%;
    font-family: 'EB Garamond', serif;
    transition: opacity 0s;
}
 
.columnes .read_more {
    background-color: black;
    position: absolute;
    text-align: center;
    width: 28%;
    height: 5%;
    top: 80%;
    padding: 2%;
    left: 30%;
    padding: 10% auto;
    font-size: 100%;
    color: white;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    opacity:0;
    transition: opacity 0s;
}

.columnes:hover .nom,
.columnes:hover .descrip
.columnes:hover .read_more {
    opacity:1;
    transition: opacity 3s;
}

.columnes:hover img {
    transform: scale(1.3);
}


.columnes:hover .nom,
.columnes:hover .descrip,
.columnes:hover .read_more {
    opacity: 1;
    transition: opacity 3s;
}

.columnes:hover img {
    opacity: 0.25;
}