records {
    display: table;                /* Le estamos indicando que la información se organice en una tabla*/
    border-collapse: collapse;  /*Sirve para que los bordes no se colapsen y que se conviertan EN UNA LÍNEA FINA*/
    width: 97%;         /* Le indicamos la ANCHURA de los datos de la tabla*/
    margin-top: 10px;   /* Se utiliza para tener un margen en LA PARTE SUPERIOR*/
    margin: 10px auto; /* Se hace para tener un margen de 10px a cada lado, mejor SIEMPRE poner el auto*/    
}

record:nth-child(even) {
    background-color:rgb(126, 195, 251);       /* Indicamos que nos marque de un color las líneas pares*/
}

record:nth-child(10n) {
    background-color:rgb(94, 152, 199);         /* Le indicamos que por cada 10 líneas nos marque un color diferente*/
}

record {
    display: table-row;                         /* Indicamos que la etiqueta "record" son filas de la tabla*/
}

header * {
    display: table-cell;                        /* Le indicamos que se organice por celdas en horizontal*/
    border: 1px solid #000000;                 /* Ponemos un color el borde*/
    font-weight: bold;                          /* Que se ponga en negrita*/
    padding: 15px;                          /* Que haya un espacio alrededor de los datos*/
    margin-top: 35px;                       /* Que haya un espacio por encima de los datos */
    font-size:13px;                         /* La medida de la letra*/
}

record * {
    display: table-cell;                        /* Le indicamos las mismas características que "header *" */
    border: 1px solid #000000;
    padding: 15px;
    margin-top: 35px;
    font-size:13px;
}


header {
    width: 10px;
    height: 50px;
    background-color: rgb(255, 215, 104);
    display: table-header-group;                      /* Le indicamos que la etiqueta <header> es la cabecera de la tabla */
    text-align: center;                                 /* Dentro de la tabla, la información de header queda centrado*/
    font-weight: bold;
}


#Client\ List:before {                                 /* Le estamos diciendo que es un id, por lo que lleva esto #, además le estamos diciendo que hay algo antes con un ":before*/
    font-size: 13px;
    content: "Report: " attr(id);                   /* Con la función "attr", le estamos diciendo que nos complete con la variable "id", que en su interior llevaba "Client List" */
    margin-top: 10px;                               /* Que haya un espaciado de 10px en la parte superior*/
}

info {
    display: flex;                              /* Esto será necesario para convertir la información en un contenedor flexible*/
    flex-direction: column;                     /* Le estamos diciendo oque organice la información en una columna */
    text-align: right;                          /* Le estamos diciendo que nos organice la información en la parte derecha de la pantalla*/
    padding-right: 1%;                          /* Para que no se pegue la información a la derecha le ponemos un "padding-right" */
    font-size: 13px;
}

info > name {
    color: blue;
    font-size: 30px;
}

info > phone::before {
    content: "Phone: ";
    font-size: 12px;
    font-weight: bold;
}

info > email::before {
    content: "Email: ";
    font-size: 12px;
    font-weight: bold;
}

info > address::before {
    content: "Address: ";
    font-size: 12px;
    font-weight: bold;
}

info > postalzip::before {
    content: "Postal Zip: ";
    font-size: 12px;
    font-weight: bold;
}

info > region::before {
    content: "Region: ";
    font-size: 12px;
    font-weight: bold;
}

info > country::before {
    content: "Country: ";
    font-size: 12px;
    font-weight: bold;
}
