@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&family=PT+Serif:ital@1&family=Young+Serif&family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Noto+Serif+JP:wght@300&family=PT+Serif:ital@1&family=Young+Serif&family=ZCOOL+XiaoWei&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0080ff;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

      li a:hover {
         background-color: #00e1ff;
      }
    
h1 {
    color: rgb(20, 88, 127);
    font-family: 'Noto Serif JP', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Young Serif', serif;
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

h2 {
    color: rgb(54, 191, 255);
    font-family: 'Noto Serif JP', serif;
    font-family: 'PT Serif', serif;
}

h3 {
    color:rgb(22, 125, 176);
    font-family: 'Noto Serif JP', serif;
    font-family: 'PT Serif', serif;
}

span.format {
    color:rgb(22, 125, 176);
    font-family: 'Noto Serif JP', serif;
    font-family: 'PT Serif', serif;
}

img {
    float: left
}

p.newparagraph {
    clear: both;
}

table.taula_html {
    font-family: 'ZCOOL XiaoWei', sans-serif;    width: 56%;
    border-collapse: collapse;
    border: 2px solid black;
    border-spacing: 10px;
}

table, th, td {
    border: 2px solid black;
    padding: 15px;
}

th {
    text-align: left;
    background-color: rgb(255, 255, 255);
}

tr:nth-child(odd) {
    background-color: rgb(0, 170, 255);
}

tr:last-child {
    background-color: rgb(0, 170, 255);
}

tfoot > tr:first-child {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
tr:hover {
    background-color: #00ffb3;
}


div.rectangle_chapter-1 {
    font-family: 'Noto Serif JP', serif;
    width: 120%;
    padding: 0px;
    text-align: center;
    color: white;
    background-color: rgb(201, 125, 53);
}

div.rectangle_chapter-2 {
    font-family: 'Noto Serif JP', serif;    
    width: 118%;
    padding: 1px;
    text-align: center;
    color: white;
    background-color: rgb(196, 177, 14);
}

div.rectangle_chapter-3 {
    font-family: 'Noto Serif JP', serif;    
    width: 118%;
    padding: 1px;
    text-align: center;
    color: white;
    background-color: rgb(177, 146, 12);
}

pre.letra_1{
    font-size: 15px;
}

pre.letra_2{
    font-size: 15px;
}

pre.letra_3{
    font-size: 15px;
}
