table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
}

thead {
    font-weight: bold;
    text-align: center;
}

table, th, td {
    border: 2px solid rgb(255, 255, 255);
    padding: 15px;
}

td:nth-child(1) {
    font-weight: bold;
}
tr:nth-child(even ) {
    background-color: rgb(201, 201, 201);
}
