body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4285f4;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header a {
    color: #fff;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
}

article h2 {
    color: #4285f4;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
}
