@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&family=PT+Serif:ital@1&family=Young+Serif&family=ZCOOL+XiaoWei&display=swap');


h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Noto Serif JP', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Young Serif', serif;
    font-style: italic;  
    font-size: 40px;
}


ul.circle{
    list-style-type: none;
}

li.margen {
    margin-left: 50px;
}


.nested-radio {
    margin-left: 5px;
}

input[type="file"]::file-selector-button {
    background-color: rgb(255, 196, 0);
}

input.submit {
    width: 170px; 
    height: 40px; 
    background-color: #687268; 
    color: white; 
    border: none;  
    border: 2px solid rgb(182, 182, 182);
}

input.submit:hover {
    background-color: rgb(0, 247, 197);
}

input.hovers:hover {
    background-color: #00ffdd;
}