@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

table {
    width: 70%;
    border-collapse: collapse;
    border-spacing: 10px;
    font-family: Open Sans;
}


.violeta {
    background-color: rgb(100, 28, 167)
}
thead {
    font-weight: bold;
    text-align: center;
}

table, th, td {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: rgb(196, 196, 196) ;
}

img {
    width: 100px;
}

table {
    box-shadow: 0 0 20px #ccc;
}

tr:hover {
    background-color: gray;
}
