@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Open+Sans:wght@300&display=swap');

body {
    background-color: rgb(0, 56, 81);
}

.caja {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.titulo {
    text-align: center;
}

.submit:hover {
    transition: 1s;
    transform: rotate(360deg);
}

inputs {
    transition: border-color 1s;
}

#Name:focus {
    border-color: red;
}

#Last_Name:focus {
    border-color: red;
}

#address:focus {
    border-color: red;
}

#postal_code:focus {
    border-color: red;
}

#city:hover {
    border-color: red;
}

#email {
    width: 57%;
}

#email:focus {
    border-color: red;
    transition: width 1s;
    width: 100%;
}

#home_number:focus {
    border-color: red;
}

#mobile_number:focus {
    border-color: red;
}

fieldset {
    background-color: rgb(222, 253, 253); 
    border-radius:10px;
    border:  1px solid rgb(182, 182, 182); 
    width: 88%; 
    margin-left: 50px;
    transition: background-color 1s;
}

fieldset:hover {
    background-color: rgb(175, 255, 203);
}
