.nombre {
    background-color: cornflowerblue;
    padding: 15px;
}

.cabecero {
    background-color: cornflowerblue;
    padding-top: 25px;
}


tr:nth-child(even) {
    background-color:lightsteelblue;
}