@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&family=PT+Serif:ital@1&family=Young+Serif&family=ZCOOL+XiaoWei&display=swap');


h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Noto Serif JP', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Young Serif', serif;
    font-style: italic;  
    font-size: 40px;
}


ul.circle{
    list-style-type: circle;
}

li.margen {
    margin-left: 50px;
}


.nested-radio {
    margin-left: 5px;
}

