@media only screen and (max-width: 600px) {
    h2 {
        text-align: center;
        color: white;
        display: block;
        background-color: #000000;
        font-size: 50px;
    }

    h4 {
        text-transform: capitalize;
        font-size: 2em;
        font-style: italic;
        padding-left: 2%;
        }
    }

    #poke-container {
        display: inline-grid;
        padding: 30%;
        gap: 20px 20px;
        margin-bottom: 1%;
        grid-template-columns: repeat(1, auto);
        gap: 50px 50px;
        width: 95%;
        height: 75%;
    }

    #pokeImage {
        margin-bottom: 7px;
    }
    #pokemon {
        border-radius: 10px;
        padding: 7px;
        background: linear-gradient(90deg, rgba(110,110,110,1) 0%, rgba(171,171,182,0.6100491221879376) 87%);

    }
    ul {
        list-style-type: none;
    }
    img {
        display: block;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 300px;
        background: rgb(255,241,96);
        background: linear-gradient(90deg, rgba(255,241,96,0.6100491221879376) 0%, rgba(255,231,75,0.8590604026845637) 52%);

    }

    #pokeContent {
        border-radius: 5px;
        padding: 5px;
        width: 97%;
        height: 42%;
        background: linear-gradient(90deg, rgba(213,213,213,1) 3%, rgba(214,214,214,1) 57%, rgba(171,171,182,0.6100491221879376) 87%);

    }

    li {
        display: inline;
    }

    ul {
        display: inline;
    }

    #pokeNumber:before {
        padding-left: 2%;
        content:"Code: ";
        font-size: 1.1em;
        font-weight: bold;
    } 

    #pokeHeight:before {
        padding-left: 2%;
        margin-left: auto;
        content:"Height: ";
        font-size: 1.1em;
        font-weight: bold;
    }

    #pokeWeight:before {
        content:"Weight: ";
        font-size: 1.1em;
        font-weight: bold;
    }

    #pokeWeight {
        text-align: right;
        margin-top: -2.5em;
    }
    #pokeHeight::after {
        content: " m";
    }

    #pokeWeight::after {
        content: " kg";
    }

    li:after {
        content:",";
    }

    ul:before {
        margin-left: -1.7em;
        content: "Type: ";
        font-size: 1.1em;
        font-weight: bold;
    }

    li:last-child:after {
        content:""
    }




@media only screen and (min-width: 601px) {
    
    h2 {
        text-align: center;
        color: white;
        display: block;
        background-color: #000000;
        font-size: 50px;
    }

    h4 {
        text-transform: capitalize;
        font-size: 2em;
        font-style: italic;
        padding-left: 2%;
        }
    
    
    #poke-container {
        display: inline-grid;
        padding: 20px;
        gap: 20px 20px;
        margin-bottom: 1%;
        grid-template-columns: repeat(2, auto);
        gap: 50px 50px;
        width: 95%;
        height: 75%;
    }
    
    #pokeImage {
        margin-bottom: 7px;
    }
    #pokemon {
        border-radius: 10px;
        padding: 7px;
        background: linear-gradient(90deg, rgba(110,110,110,1) 0%, rgba(171,171,182,0.6100491221879376) 87%);
    
    }

    ul {
        list-style-type: none;
    }

    img {
        display: block;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 300px;
        background: rgb(255,241,96);
        background: linear-gradient(90deg, rgba(255,241,96,0.6100491221879376) 0%, rgba(255,231,75,0.8590604026845637) 52%);
    
    }
    
    #pokeContent {
        border-radius: 5px;
        padding: 5px;
        width: 97%;
        height: 42%;
        background: linear-gradient(90deg, rgba(213,213,213,1) 3%, rgba(214,214,214,1) 57%, rgba(171,171,182,0.6100491221879376) 87%);
    
    }

    
    li {
        display: inline;
    }

    ul {
        display: inline;
    }

    #pokeNumber:before {
        padding-left: 2%;
        content:"Code: ";
        font-size: 1.1em;
        font-weight: bold;
    } 

    #pokeHeight:before {
        padding-left: 2%;
        margin-left: auto;
        content:"Height: ";
        font-size: 1.1em;
        font-weight: bold;
    }

    #pokeHeight::after {
        content: " m";
    }

    #pokeWeight:before {
        content:"Weight: ";
        font-size: 1.1em;
        font-weight: bold;
    }
    #pokeWeight::after {
        content: " kg";
    }

    #pokeWeight {
        text-align: right;
        margin-top: -2.5em;
    }

    li:after {
        content:",";
    }

    ul:before {
        margin-left: -2em;
        content: "Type: ";
        font-size: 1.1em;
        font-weight: bold;
    }

    li:last-child:after {
        content:""
    }
}





@media only screen and (min-width: 800px) {
    
    h2 {
        text-align: center;
        color: white;
        display: block;
        background-color: #000000;
        font-size: 50px;
    }

    h4 {
        text-transform: capitalize;
        font-size: 2em;
        font-style: italic;
        padding-left: 2%;
        }
    
    #poke-container {
        display: inline-grid;
        padding: 20px;
        gap: 20px 20px;
        margin-bottom: 1%;
        grid-template-columns: repeat(4, auto);
        gap: 50px 50px;
        width: 95%;
        height: 75%;
    }
    
    #pokeImage {
        margin-bottom: 7px;
    }
    #pokemon {
        border-radius: 10px;
        padding: 7px;
        background: linear-gradient(90deg, rgba(110,110,110,1) 0%, rgba(171,171,182,0.6100491221879376) 87%);
    
    }

    ul {
        list-style-type: none;
    }

    img {
        display: block;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 300px;
        background: rgb(255,241,96);
        background: linear-gradient(90deg, rgba(255,241,96,0.6100491221879376) 0%, rgba(255,231,75,0.8590604026845637) 52%);
    }
    
    #pokeContent {
        border-radius: 5px;
        padding: 5px;
        width: 97%;
        height: 42%;
        background: linear-gradient(90deg, rgba(213,213,213,1) 3%, rgba(214,214,214,1) 57%, rgba(171,171,182,0.6100491221879376) 87%);
    
    }

    li {
        display: inline;
    }

    ul {
        display: inline;
    }

    #pokeNumber:before {
        padding-left: 2%;
        content:"Code: ";
        font-size: 1.1em;
        font-weight: bold;
    } 

    #pokeHeight:before {
        padding-left: 2%;
        margin-left: auto;
        content:"Height: ";
        font-size: 1.1em;
        font-weight: bold;
    }

    #pokeHeight::after {
        content: " m";
    }

    #pokeWeight:before {
        content:"Weight: ";
        font-size: 1.1em;
        font-weight: bold;
    }
    #pokeWeight::after {
        content: " kg";
    }

    #pokeWeight {
        text-align: right;
        margin-top: -2.5em;
    }

    li:after {
        content:",";
    }

    ul:before {
        margin-left: -1.9em;
        content: "Type: ";
        font-size: 1.1em;
        font-weight: bold;
    }

    li:last-child:after {
        content:""
    }
}