@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&family=PT+Serif:ital@1&family=Young+Serif&family=ZCOOL+XiaoWei&display=swap');

h1.titol_movil {
    color: rgb(20, 88, 127);
    font-family: 'Noto Serif JP', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Young Serif', serif;
    font-family: 'ZCOOL XiaoWei', sans-serif; 
    font-style: italic;  
    font-size: 50px;
}

table {
    width: 80%;
    border-collapse: collapse;
    border: 2px solid black;
    border-spacing: 10px;
}

table, th, td {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

th {
    text-align: left;
    background-color: orange;
}

tr:nth-child(odd) {
    background-color: dodgerblue;
}
tr:first-child{
   background-color: rgb(0, 174, 255);
}


tfoot > tr:first-child {
    font-style: italic;
    font-weight: 900;
    font-size: 1.2em;
    color: blueviolet;
    background-color: rgb(241, 27, 202);
}
tr:hover {
    background-color: #eee;
}

ul.circle {
    list-style-type: circle;
}
